<mat-sidenav-container [class.dark-theme]="isDarkTheme" [dir]="dir">

    <mat-sidenav [mode]="(isScreenSmall$ | async) ? 'over' : 'side'" [opened]="!(isScreenSmall$ | async)"
        class="mat-elevation-z10" #sidenav>
        <mat-toolbar color="primary">Items</mat-toolbar>
        <mat-nav-list>

            <!-- <mat-list-item *ngFor="let user of users$|async" [routerLink]="['/contactmanager', user.id]">
                <a matLine >{{ user.name }}</a>
                <button mat-icon-button>
                    <mat-icon>info</mat-icon>
                </button>
            </mat-list-item> -->
            <mat-list-item [routerLink]="['/chat']">
                <a matLine>Chat</a>
                <button mat-icon-button>
                    <mat-icon>info</mat-icon>
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-toolbar (toggleSidenav)="sidenav.toggle()" 
        (toggleTheme)="toggleTheme()"
        (toggleDir)="toggleDir()"
        ></app-toolbar>

        <div class="wrapper">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>